# Dependencies and build outputs
node_modules
.pnpm-store
.next
out
dist
build

# Environment and config
.env*
.git
.vscode
.idea

# Test files
coverage
**/*.test.ts
**/*.test.tsx
**/__tests__
**/*.spec.*

# Include necessary files
!package.json
!pnpm-lock.yaml
!next.config.js
!tsconfig*.json
!src
!public
!prisma
!prisma2
!scripts
